
@{
    ViewBag.Title = "Created";
}

<h2>Confirmación de la Reserva</h2>
<div class="alert alert-success" role="alert">
    <p>Su reserva ha sido realizada correctamente. Puede ver la misma desde su cuenta.</p>
</div>

