
@{
    ViewBag.Title = "Realizar reserva";
}
@Styles.Render("~/Content/booking.css")
<h2>Realizar reserva</h2>
<p>Seleccione el centro, deporte y hora, para realizar su reservas</p>
<div class="booking-container">
    <div class="form-group">
        <label>Centro Deportivo</label>
        <select class="form-control">
            <option>Seleccione el centro</option>
        </select>
    </div>
    <div class="form-group">
        <label>Deporte</label>
        <select class="form-control">
            <option>Seleccione el deporte</option>
        </select>
    </div>
    <div class="form-group booking-date-container">
        <label class="booking-date-label">Fecha de la reserva</label>
        <input type="date" class="form-control booking-date" />
        <select class="form-control booking-time">
            <option>Seleccione la hora</option>
        </select>
    </div>
    <input type="button" class="btn btn-primary" value="Realizar reserva" />
</div>

