.text-danger {
  color: #b94a48;
  float: left;
  margin-top: 5px;
}

.loginContainer{
    width:100%
}
.tittle{
    font-family: 'Open Sans',sans-serif !important;
}
.loginContainer h4{
    font-family: 'Open Sans',sans-serif !important;
}

.validation-summary-errors{
    float: left;
    width: 100%;
}

.validation-summary-errors ul{
    list-style:none;
}