
@{
    ViewBag.Title = "Centers";
}

<h2>Centros Deportivos</h2>
<p>Estos son lso centros deportivos que actualmente están asociados a la plataforma. En todos ellos podrás disfrutar de sus servicios, si eres miembro de nuestra plataforma.</p>

