@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>InstaSport</h1>
    <p class="lead">Con InstaSport puedes reservar pistas cómodamente, inscribirte en torneos y usar el matchmaking para encontrar oponentes de forma intuitiva.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Hazte miembro ya &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cómodo</h2>
        <p>
            Desde InstaSport podrás realizar todas las actividades físicas que quieras, en el centro deportivo que mejor te venga. 
            A solo unos clicks de ti.
        </p>       
    </div>
    <div class="col-md-4">
        <h2>Sencillo</h2>
        <p>Olvídate de las complicaciones, simplemente hazte miembro, y gestiona todas tus actividades en el centro deportivo que tú quieras.</p>
    </div>
    <div class="col-md-4">
        <h2>Económico</h2>
        <p>InstaSport es una plataforma de asociaciones deportivas, por lo que gracias a nuestro convenio con ellas, podrás disfrutar de todos 
        sus servicios, a un precio muy asequible.</p>
    </div>
</div>