
@{
    ViewBag.Title = "Search";
}

<h2>Búsqueda de rivales</h2>
<p>Selecciona el deporte para buscar oponentes contra los que poder jugar</p>
<div class="matchMakingContainer">
    <div class="form-group">
        <label>Deporte</label>
        <select class="form-control">
            <option>Selecciona el deporte</option>
        </select>
    </div>
    <input type="button" class="btn btn-primary" value="Buscar rivales" />
</div>
