@{
    ViewBag.Title = "Search";
}

<h2>Búsqueda de rivales</h2>
<p>Selecciona el deporte para buscar oponentes contra los que poder jugar</p>
<div class="matchMakingContainer">
    <div class="form-group">
        <label>Deporte</label>
        <select class="form-control sports">
            <option>Selecciona el deporte</option>
            <option>Fútbol 11</option>
            <option>Fútbol sala</option>
            <option>Baloncesto</option>
            <option>Natación</option>
            <option>Tenis</option>
            <option>Padel</option>
            <option>Voleibol</option>
        </select>
    </div>
    <input type="button" class="btn btn-primary search-teams" value="Buscar rivales" />
    @Html.ActionLink("Registrar equipo en Matchmaking", "Register", "Matchmaking", new { area = "" }, new { @class = "default-link" })
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/matchmaking-searcher.js")
}